body {
	background-color: #ffccee;
	font-family: Arial, sans serif;
	padding: 20px;
	margin: 0;
}

harder {
	background-color: #fc74be
	color: black;
	padding: 20px; 
	text-align: center
}

main {
	margin: 30px auto;
	max-widh: 800px;
}
p{
	font-size:20px
	color: #1f0007
	line-height: 1.6;
	margin-bottom: 15px;
}

img{
	display: block;
	margin: 20px auto;
	max-width: 100%;
	border: 3px solid #ffcbdb;
	border-radius: 10px;
}

footer{
	background-color: #fffcfc;
	color: #555;
	text-align: center;
	padding: 15px;
	margin-top: 40px;
	font-size: 14px;
}
		
